@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.cdnfonts.com/css/cooper-black');

//Général

* {
  font-family: 'Cooper Black', sans-serif;
  font-size: large;
  border: 0;
}
body {
  background-color: #1D4E89;
}
.container {
  margin-top: 3%;
  margin-bottom: 5%;
}
h1 {
  color: aliceblue;
}
.yellowOrWhite {
  color: aliceblue;
  margin-bottom: 2%;
}
.row {
  margin: 0;
}
.noMarginBot {
  margin-bottom: 0 !important;
}
.noPaddingBot {
  padding-bottom: 0 !important;
}
.returnDashboard {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
  align-self: center;
}
.aReturnDashboard {
  text-decoration-line: none;
  color: #000000;
}
.aReturnDashboard:hover {
  color: #000000;
}
.addExpense {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
#prettyButton {
  border-radius: 3px;
  padding: 2px 5px;
}

//---------------------------------------------------------------------------------------------------//
//NavBar

.navbar {
  background: linear-gradient(#ffbe3b 80%, #1D4E89 90%) !important;
  display: flex;
  padding: 1rem 0;
}
.navbar-lien {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1%;
  padding-right: 4%;
}
.navbar-brand {
  margin-right: 1rem;
  color: #000000 !important;
}
.navbar-title {
  display: flex;
  justify-content: flex-end;
}
.title {
  color: black;
  margin-bottom: 7%;
  width: 0;
}
.navbar-toggler {
  margin-right: 5%;
}

//---------------------------------------------------------------------------------------------------//
//Sign up && Sign in

li {
  list-style-type: none;
}
form {
  display: flex;
  justify-content: center;
}
.btn-primary {
  background-color: #ffbe3b !important;
  border-color: #ffbe3b;
  color: #1D4E89;
}
.btn-primary:hover {
  background-color: #1D4E89 !important;
  border-color: #1D4E89;
  color: aliceblue;
}
.btn-dark {
  background-color: #1D4E89 !important;
  border-color: #1D4E89;
  width: 60%;
}
.btn-dark:hover {
  background-color: #ffbe3b !important;
  border-color: #ffbe3b;
  color: #1D4E89;
}
.btn-secondary {
  background-color: #ffbe3b !important;
  border-color: #ffbe3b;
  color: #1D4E89;
}
.btn-secondary:hover {
  color: #1D4E89;
  border-color: #ffbe3b;
}

//---------------------------------------------------------------------------------------------------//
//ChooseColoc

.choose-img {
  width: 80%;
  height: auto;
  margin: 5%;
}

//---------------------------------------------------------------------------------------------------//
//NewColoc

#title-code {
  color: #000000;
  font-size: xx-large;
  display: flex;
  justify-content: center;
}
#code {
  font-size: x-large;
  display: flex;
  justify-content: center;
}
#btn-copie {
  display: flex;
  justify-content: center;
}
#copie {
  padding: 1%;
}

//---------------------------------------------------------------------------------------------------//
//Calendar

#calendar a {
  color: #ffbe3b;
}
.fc-daygrid-day-number {
  color: aliceblue !important;
}
.fc-col-header-cell-cushion {
  color: aliceblue !important;
}
.fc-day-today {
  background-color: rgba(255, 243, 58, 0.3) !important;
}
#calendar {
  margin: 2% 0;
  padding: 0 3%;
}
.fc .fc-list-event:hover td {
  background-color: #1D4E89;
}
.fc-list-day-text {
  color: #1D4E89 !important;
  text-decoration: none !important;
}
.fc-list-day-side-text {
  color: #1D4E89 !important;
  text-decoration: none !important;
}
.fc-list-event-time {
  color: #ffbe3b;
}
.fc-toolbar-title {
  font-size: x-large !important;
  color: aliceblue;
}

//---------------------------------------------------------------------------------------------------//
//Dashboard

.message {
  display: flex;
  justify-content: center;
  align-self: center;
}
.nextTask {
  display: flex;
  justify-content: center;
  text-decoration-line: none;
  margin: 2%;
}
#name-coloc {
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-size: x-large;
}
#btnDashboard {
  display: flex;
  justify-content: space-between;
}
#member {
  margin: 0 2%;
  padding: 0 3%;
  padding-bottom: 2%;
  color: aliceblue;
  list-style-type: circle;
}
.text-mid {
  margin-bottom: 1%;
  padding: 0 1%;
}
.sendButton {
  margin-left: 1.5%;
}

//---------------------------------------------------------------------------------------------------//
//Expense

.money {
  font-size: x-large;
}
.followUp {
  padding: 0;
}
.resume {
  justify-items: center;
  height: 60%;
}
.h2common {
  margin-bottom: 3%;
  text-decoration: underline;
  color: aliceblue;
}
.colorRed {
  font-size: 1.25rem;
  color: red;
}
#add-sold {
  overflow:scroll;
  max-height: 375px;
}
.expense-label {
  margin: 0 2%;
}
.graphHidden {
  background-color: aliceblue;
  border-radius: 1%;
  padding: 2%;
}
.graph {
  padding-bottom: 1%;
}

//---------------------------------------------------------------------------------------------------//
//Task

.task {
  padding: 15px;
}
.multiple-select {
  border: 0px;
  margin-left: 0px !important;
  max-height: 30px !important;
}
.multiple-select-task {
  border: 0px;
  margin-left: 0px !important;
  max-height: 30px !important;
}
.littleMarginTop {
  margin-top: 1%;
}
#tasks {
  margin: 2% 0;
}

//---------------------------------------------------------------------------------------------------//
//Responsive

@media (max-width: 1400px) {
  * {
    font-size: medium;
  }
  #name-coloc {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .graphHidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .returnDashboard {
    margin-bottom: 4%;
  }
  #oldColoc {
    margin-bottom: 3%;
  }
}
@media (max-width: 768px) {
  .calendar-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .text-mid {
    text-align: center;
  }
  .yellowOrWhite {
    color: #ffbe3b;
  }
}
